@page "/genres"

@using Telerik.DataSource

@inject IGenreService GenreService

<PageTitle>Genres</PageTitle>

<h1>Genres</h1>

<Loader isLoaded="@isLoaded"/>

<TelerikGrid Data="@GridData"
			 Pageable="true"
			 Sortable="true"
			 FilterMode="@GridFilterMode.FilterRow"
			 EditMode="@GridEditMode.Popup"
			 OnCreate="@CreateHandler"
			 OnUpdate="@UpdateHandler"
			 OnDelete="@DeleteHandler"
			 ConfirmDelete="true"
>

	<GridToolBarTemplate>
		<GridCommandButton Command="Add" Icon="@FontIcon.Plus" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Add Genre</GridCommandButton>
	</GridToolBarTemplate>
	<GridSettings>
		<GridPopupEditFormSettings Orientation="FormOrientation.Horizontal"></GridPopupEditFormSettings>
	</GridSettings>
	
	<GridColumns>
		<GridColumn Field="Name" Title="Genre Name" />

		<GridCommandColumn Width="260px">
			<GridCommandButton Command="Edit" Icon="@FontIcon.Pencil" ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary">Edit</GridCommandButton>
				<GridCommandButton Command="Delete" Icon="@FontIcon.Trash" ThemeColor="@ThemeConstants.Button.ThemeColor.Error">Delete</GridCommandButton>
		</GridCommandColumn>
	</GridColumns>

</TelerikGrid>

@code {
	private bool isLoaded = false;

	public List<Genre> GridData { get; set; } = new List<Genre>();

	[CascadingParameter]
	protected Notification Notification { get; set; }

	void ShowNotifications(string Text, string ThemeColor)
	{
		Notification.telerikNotification.Show(new NotificationModel
			{
				Text = Text,
				ThemeColor = ThemeColor,
			});
		isLoaded = true;
	}

	private async Task LoadData()
	{
		await GenreService.GetGenres();
		GridData = GenreService.Genres;
		isLoaded = true;
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadData();
	}

	public async Task CreateHandler(GridCommandEventArgs args)
	{
		isLoaded = false;
		var genre = (Genre)args.Item;
		try
		{
			await GenreService.CreateGenre(genre);
			await LoadData();
			ShowNotifications("Genre created successfully!!", "success");
		}
		catch (Exception)
		{
			ShowNotifications("Genre not created!!", "error");
		}
	}

	public async Task UpdateHandler(GridCommandEventArgs args)
	{
		isLoaded = false;
		var genre = (Genre)args.Item;
		try
		{
			await GenreService.UpdateGenre(genre, genre.GenreId);
			await LoadData();
			ShowNotifications("Genre updated successfully!!", "success");
		}
		catch (Exception)
		{
			ShowNotifications("Genre not updated!!", "error");
		}
	}

	public async Task DeleteHandler(GridCommandEventArgs args)
	{
		isLoaded = false;
		var genre = (Genre)args.Item;
		try
		{
			await GenreService.DeleteGenre(genre.GenreId);
			await LoadData();
			ShowNotifications("Genre deleted successfully!!", "success");
		}
		catch (Exception)
		{
			ShowNotifications("Genre not deleted!!", "error");
		}
	}
}
